html {}

body {
    padding-top: 71.5px;
    min-height: 100vh;
    min-width: 100wh;
    /* background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%); */
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    margin: auto;
}

.padding-border-tense {
    padding: 2%;
}

.center {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.full-screen {
    height: 100vh;
    /* width: 100vw */
}

.chu-mau-do {
    color: black;
    font-size: 20px;
}

.blue {
    background: dodgerblue;
}

.content {
    /* display: block; */
    /* margin-left: 10px; */
    /* margin: 0; */
    /* padding-top: 16px; */
    padding: 10px;
    /* margin-top:10px; */
    /* margin-right: 10px; */
}

.right {
    justify-items: right;
}

.max-width {
    width: 100%;
}

h1, h2, h3, h4, h5, p, a {
    margin: 0px;
}

#color-title {
    color: white;
    /* margin-top: 5px; */
}

.jumbotron {
    margin-bottom: 0px;
}

#color-word {
    color: white !important;
}

.my-0 .mr-md-auto {
    margin-right: auto!important;
    margin-bottom: 0!important;
    margin-top: 0!important;
}

/* .col-centered {
				float: none;
				margin-right: auto;
				margin-left: auto;
			} */

.card {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.card-title {
    margin-bottom: .75rem;
    height: 100px;
}

.new {
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.search {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

h4 {
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    max-width: 100%;
    padding: 10px;
}

.card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 150px;
}

.btn-top {
    margin-top: 100px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.bg-light {
    background-color: transparent !important;
}

.english {
    padding-left: 15px;
}

.col-left {
    margin: auto;
}

.login-center {
    /* padding-bottom: 40px; */
    height: 100%;
    /* max-width: 330px; */
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    /* padding-top: 150px; */
    /* margin: 0 auto !important; */
    text-align: center!important;
    display: flex;
    flex: 1;
}

/* #overflow {
    overflow: hidden;
} */

.sign-in {
    padding: 10px;
}

.forgot {
    padding-top: 5px;
}

.tabs-log {
    display: table-cell;
    float: left;
    border: 2px solid #ffffff;
    vertical-align: middle;
    color: white;
    color: black !important;
    width: 30%;
    padding: 10px;
}

.tabs {
    display: table-cell;
    width: 30%;
    padding: 10px;
    float: left;
    text-align: center;
    border: 2px solid #ffffff;
    border-bottom: 0px;
    vertical-align: middle;
    position: relative;
    font-size: 1.3em;
    color: white;
}

#border-login {
    /* margin-top: 100px; */
    /* margin-bottom: 200px; */
    border: 5px ridge dodgerblue;
}

.tabs:hover, p {
    cursor: pointer;
}

#cont {
    width: 100%;
    height: 340px;
    border: 2px solid #ffffff;
}

.max-width1 {
    max-width: 250px;
}

input {
    display: block;
    width: 250px;
    /* margin: 10px 13px; */
    padding: 10px;
    font-size: 1.3em;
}

input[type="submit"] {
    width: 272px;
}

#clear {
    clear: both;
}

.comm {
    position: absolute;
    visibility: hidden;
}

#login {
    visibility: visible;
}

h3 {
    display: table-cell;
    vertical-align: middle;
    padding: 15px;
    color: white;
    font-size: 1.5em;
}

#forgot h3 {
    display: block;
    margin-top: 30px;
    text-align: center;
}

#forgot div {
    margin-top: 30px;
}

#lt {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

#rt {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.wrapper {
    width: 350px;
    padding: 20px;
}

.nav {
    position: sticky;
    top: 0;
}

.margin-section {
    margin-top: 12px;
    padding: 24px 15px 24px;
}

.center-section {
    align-items: center;
    margin: auto;
}

.dotted {
    border-bottom: 2px solid #e5e5e5;
    margin: 12px auto;
    display: flex;
    max-width: 1065px;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.header {
    padding: 0px;
    background: dodgerblue;
    color: #f1f1f1;
}

.font-re {
    font-family: din-round, sans-serif;
}

.footer {
    color: #fff;
    padding-top: 2px;
    text-align: center;
}

.backgroud {
    background-color: dodgerblue;
}

.header-footer {
    margin: 0 auto;
    max-width: 1140px;
    min-height: 18px;
}

.content-footer {
    color: #fff;
    text-align: left;
}

.on-content-footer {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    max-width: 1065px;
    padding: 24px 40px;
}

.padding-footer {
    width: 170px;
}

.font-footer {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 12px;
    text-transform: none;
}

.font-white {
    color: #f8f9fa !important;
}

.padding-center {
    padding: 100px 100px;
}

.aboutus {
    margin: 0 0 48px;
    display: flex;
    white-space: nowrap;
}

.center-about-us {
    padding: 0 18px 12px;
}

.font-about-us {
    border-bottom: 4px solid dodgerblue;
    color: dodgerblue;
}

.border-bottom-about-us {
    border-bottom: 2px solid #e5e5e5;
}

.font-center-about-us {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    text-transform: uppercase;
}

.center-section-about-us {
    align-items: center;
    margin: auto;
    padding: 10px 250px;
}

.center-row {
    margin-right: 150px;
    margin-left: 150px;
}

.img-center {
    align-content: center;
    margin: auto;
    min-width: 330px;
    text-align: center;
    padding: 20px;
}

.img-center-border {
    align-content: center;
    margin: auto;
    text-align: center;
}

.img-center2 {
    align-content: center;
    margin: auto;
    text-align: center;
    padding: 20px;
}

.items-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.word-center {
    text-align: center;
}

.word-margin {
    margin: 0 0 24px;
}

.section-double {
    flex-wrap: nowrap;
}

.border-english {
    border-radius: 16px;
    border-style: solid;
    border-width: 2px 2px 4px;
    cursor: pointer;
    display: inline-block;
    flex: 1 1 auto;
    /* margin: 12px; */
    /* max-width: 240px; */
    min-height: 217px;
    width: 100%;
    height: 250px;
    /* min-width: 200px; */
    padding: 12px 12px 24px;
    text-align: center;
    background-color: transparent;
    border-color: dodgerblue;
}

.border-tense {
    border-radius: 16px;
    border-style: solid;
    border-width: 2px 2px 2px;
    cursor: pointer;
    display: inline-block;
    flex: 1 1 auto;
    /* margin: 12px; */
    /* max-width: 240px; */
    height: 100%;
    width: 100%;
    /* min-width: 200px; */
    background-color: transparent;
    border-color: dodgerblue;
}

.border-part {
    position: relative;
    padding-top: 10%;
}

.border-part1 {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 6px;
    min-height: 26px;
}

.border-part3 {
    font-size: 17px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 15%;
    /* padding-bottom: 45px; */
    /* min-height: 115px; */
}

.padding-allborder {
    align-items: center;
    display: flex;
    margin: 12px auto;
    /* padding: 20px; */
    text-align: center;
}

.padding-history {
    margin: 0 0 50px;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
}

.color-black {
    color: black !important;
    font-size: 17px;
}

.history-br {
    border-radius: 10px;
    margin: 0 auto;
    max-width: 880px;
    overflow: hidden;
    padding: 24px;
}

.ol {
    list-style: decimal outside none;
    margin: 0 0 0 20px;
    padding: 0;
}

.padding-book {
    /* width: 1270px; */
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.padding-content-book {
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}

.logo-icon {
    display: inline-block;
    vertical-align: middle;
    background-position: -95px 0px;
    width: 48px;
    height: 48px;
}

.header-book {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid rgb(244, 244, 244);
}

.title-header {
    font-size: 17px;
    margin: 0px;
    color: dodgerblue;
}

.description {
    color: rgb(51, 51, 51);
    font-size: 13px;
    margin: 6px 0px 0px;
}

.content-book {
    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
    background-color: rgb(255, 255, 255);
}

.product-list {
    border-radius: 0 4px 4px 0;
    width: 985px;
    float: right;
    vertical-align: top;
}

.border-book {
    height: 350px;
    border-radius: 16px;
    border-style: solid;
    border-width: 2px 2px 4px;
    cursor: pointer;
    display: inline-block;
    flex: 1 1 auto;
    margin: 12px;
    max-width: 240px;
    max-height: 350px;
    min-height: 217px;
    min-width: 200px;
    padding: 12px 12px 24px;
    text-align: center;
    background-color: transparent;
    border-color: dodgerblue;
}

.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: 150px;
    height: 150px;
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .3);
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.back-face {
    background: dodgerblue;
}

.front-face, .back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    backface-visibility: hidden;
}

.front-face h3 {
    color: rgba(0, 0, 0, .8);
    text-align: center;
}

.front-face {
    transform: rotateY(180deg);
}

.padding-cardgame {
    margin-top: 8%;
}

.wc-flex {
    flex: auto;
    height: 100%;
}

.padding-idunno {
    padding-top: 2%;
}
